In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
table = pd.read_csv('data.csv', usecols=['Start time','Email','Name'])
table

         Start time   Email   Name
0  6/14/20 16:58:48  Email1  Name1
1  6/15/20 16:58:48  Email2  Name2

In [3]:
# to remove time
table['Start time']=table['Start time'].str.split(' ').str.get(0)
table.drop_duplicates(["Email","Start time"],inplace=True)

In [4]:
# covert date to datetime object 6/14/20 -> Sun, 14 Jun 20
table['Start time'] = pd.to_datetime(table['Start time'], format='%m/%d/%y')
table['Start time'] = table['Start time'].apply(lambda x: x.strftime('%a, %d %b %y'))

In [5]:
names = table.Name.unique()
emails = table.Email.unique()
dates = table['Start time'].unique()

In [6]:
present=dict()
for date in dates:
    present[date]= table[ (table['Start time']==date) ]

In [7]:
final = list()
for date in dates:
    for email in emails:
        final.append((present[date]['Email'] ==email).any())

In [8]:
# to split the list of True and False
attendance = np.array_split(final,len(final)/len(names))

In [9]:
df = pd.DataFrame.from_records(np.transpose(attendance), index =[names,emails] ,columns =dates)
df.to_csv('final.csv')
df

              Sun, 14 Jun 20  Mon, 15 Jun 20
Name1 Email1            True           False
Name2 Email2           False            True